@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: rgb(250, 250, 250);
}

.logo {
    margin: auto;
    display: block;
}

nav {
    background-color: #000000;
    border-radius: 100px;
    width: 30vw;
    height: 10vh;
    margin: auto;
    text-align: center;
    line-height: 10vh;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: inline-block;
}

nav> a:hover {
    color: #000000;
    border-radius: 20px;
    background-color: white;
}



h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
section p {
    text-align: center;
    text-justify: center;
}

ul {
    text-align: center;
    font-size: 1.2em;
}

ul > li:active {
    color: rgb(99, 42, 165);
    font-size: 1.5em;
}


footer {
    background-color: #000000;
    bottom: 0;
    text-align: center;
    width: 100%;
    line-height: 10vh;
    position: fixed;
    display: inline-block;
}

footer a {
    text-decoration: none;
    text-align: center;
    height: 10vh;
    color: #ffffff;
    font-size: 1.0em;
}

.logo2 {
    height: 2vh;
    filter: invert(1);
}
