@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}

.logo {
    margin: auto;
    display: block;
}

.box {
    margin: auto;
    display: block;
}
.box1 {
    width: 200px;
    margin: auto;
    display: block;
}

nav {
    background-color: #3530BF;
    border-radius: 80vw;
    width: 30vw;
    height: 10vh;
    margin: auto;
    text-align: center;
    line-height: 10vh;
    overflow:hidden;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: inline-block;
}

nav> a:hover {
    transition-duration: 6s;
    transition-duration: 100ms;
    transition-duration: 1s, 10s;
    color: #394DBF;
    border-radius: 40vw;
    background-color: #05F2F2;
}



h1 {
    color: #05F2F2;
    text-align: center;
}
h2 {
    color: #04B2D9;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;

}

ul {
    text-align: center;
    font-size: 1.2em;
}

ul > li:active {
    color: rgb(99, 42, 165);
    font-size: 1.5em;
}


footer {
    background-color: #3530BF;
    bottom: 0;
    text-align: center;
    width: 100%;
    line-height: 10vh;
    display: inline-block;
}

footer a {
    text-decoration: none;
    text-align: center;
    height: 10vh;
    color: #ffffff;
    font-size: 1.0em;
}

.logo2 {
    height: 2vh;
    filter: invert(1);
}

